*.yaml
*.yml
*.db
logs
reports
venv
.venv
.env
__pycache__/*
.ruff_cache/*
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info
*.dist-info
*.coverage
*.log
*.sqlite3
*.db-journal
*.DS_Store
*.swp
*.swo
*.bak
*.tmp
*.orig
*.pid
*.seed
*.pid.lock